/* Global styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: black;
}

/* Header */
.admin-header {
    background-color: black;
    color: white;
    padding: 1rem;
}
.admin-header h1 {  /* Till rubriken */
    font-size: 1.5rem;
}
/* admin-Main */
.admin-main {
    display: flex;
}
.admin-left {  /* Till vänster panel */
    border: 1px solid black;
    background-color: lightgray;
    padding: 1rem;
    width: 16rem;
    padding-bottom: 100%;
}
.admin-body {
    border: 1px solid black;
    padding: 1.5rem;
    width: 100%;
}


/* Page-1 Admin Products  */
/* Sub-header  */
.admin-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.admin-new-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
}

/* Page-2 Admin New */