/* Fördelar: standard/mobil */
.benefits {
    padding: 1rem;
    font-size: 1.2rem;
    
}

.benefits > div {  /* Till varje container */
    display: flex;
    justify-content: center;
    line-height: 1.5;
    gap: 0.5rem;
}

/* Fördelar: över 480px */
@media (min-width: 480px) {
    .benefits {  /* Struktur: 2 kolumner */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Fördelar: över 1024px */
@media (min-width: 1024px) {
    .benefits {  /* Struktur: 4 kolumner */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Footer: standard/mobil */
.gray-footer {
    border: 2px solid black;
    background-color: lightgrey;
    padding: 1rem;
    line-height: 2rem;
}
.gray-footer .footer-links {
    display: flex;
    flex-direction: column;
    color: #610000;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* Footer: över 480px */
@media (min-width: 480px) {
    .gray-footer .footer-menu {  /* Lägger delarna i sidled */
        display: flex;
        gap: 3rem;
    }
}