/* Used by style.css */

/* Benefits: standard/mobile */
.benefits {
    padding: 1rem;
    font-size: 1.2rem;
}
.benefits > div {  /* For each container */
    display: flex;
    justify-content: center;
    line-height: 1.5;
    gap: 0.5rem;
}
.benefits i {  /* icons */
    font-size: 2rem;
}
.benefits a {
    align-self: center;
}


/* Footer: standard/mobile */
.gray-footer {
    line-height: 2rem;
}
.gray-footer .footer-links {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


/* MEDIA QUERIES */

/* Footer: under 640px */
@media (max-width: 640px) {
    .footer-links a, .footer-links label {
        display: flex;
        justify-content: center;
    }
    .footer-links label {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    /* toggle: hide links */
    #toggle-shopping:checked ~ a,
    #toggle-account:checked ~ a,
    #toggle-customer-service:checked ~ a {
        display: none;
    }
    .copyright {
        border-top: 1px solid black;
    }
}
/* Footer: over 640px */
@media (min-width: 640px) {
    .benefits {  /* Structure: 2 columns */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gray-footer {
        background-color: lightgrey;
        padding: 1rem;
        border-top: 1px solid black;
    }
    .gray-footer .footer-menu {  /* places the items side by side */
        display: flex;
        gap: 3rem;
    }
}
/* Benefits: over 1024px */
@media (min-width: 1024px) {
    .benefits {  /* Structure: 4 columns */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}