/* Used by style.css */

/* Header: Standard/Mobile */
.site-header {
    padding: 1rem;
}

.site-header img {  /* Size-adaption */
    width: 100%;
    border: 1px solid black;
}

/* For Search-bar and icons */
.search-and-icons {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.search-bar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}
.search-bar input {  /* appearance */
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.9rem;
    border: 1px solid black;
    padding-left: 2rem;  /* Makes space for the search icon */
}
.search-bar i {  /* Positions the search icon */
    position: absolute;
    margin-left: 0.5rem;
    align-self: center;
}
.search-bar > button {
    border-radius: .5rem;
}
.search-and-icons .icons {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* For menu links */
.main-menu {
    padding-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

/* Header: Over 640px */
@media (min-width: 640px) {
    .site-header > section {  /* places containers side by side */
        display: flex;
    }
    .search-bar {
        margin-left: 1rem;
    }
    .search-bar input {
        width: auto;
    }
    .main-menu {
        display: flex;
    }
}

.search-results-header {
    text-align: center;
}
.section-title {
    display: flex;
    justify-content: center;
    padding: 1rem;
}