@import url("productGrid.css");
/* Index: standard/mobil */
.index-main {
    padding: 1rem;
}

/* Hero: standard/mobil */
.hero-section {
    border: 2px solid black;
    text-align: center;
}

.hero-section div {  /* Till text och bild */
    padding: 1rem;
}

.hero-section img {
    border: 1px solid black;
    width: 100%;
}

/* Hero: över 1024px */
@media (min-width: 1024px) {
    .hero-section {
        display: flex;
        flex-direction: row-reverse;
    }

    .hero-section div {
        padding: 1rem;
    }

    .hero-section .hero-image {
        flex-grow: 1;
    }
}


/* Spots: osynlig under 1024px */
.Spots {
    display: none;
}

/* Över 1024px */
@media (min-width: 1024px) {
    .Spots {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }

    .spot {
        position: relative;
    }

    .Spots .image-placeholder {
        width: 600px;
        height: 400px;
        background: lightgray;
        border: 1px solid black;
    }

    .Spots .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 2.2rem;
        font-weight: bold;
    }
}

/* Product-cards: standard/mobil */
