@import url("productdetails.css");

/* Product-details */
.detail-image {
    position: relative;
}
.details .icon {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem;
}

@media (min-width: 640px) {
    .details .icon {
        display: none;
    }
}

/* Details: standard/mobile */
.details div {  /* makes space */
    padding: 1rem;
}

.details img {
    border: 1px solid black;
    width: 100%;
}


.details .add-wares {  /* shopping cart button */
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 100%;
}

/* Line height */
.details .detail-info span {
    line-height: 3;
}

.details .detail-info p,
.details .detail-info h2 {  /* Limits the text width for better readability */
    padding-bottom: 1rem;
    max-width: 35rem;
}

/* Details: over 640px */
@media (min-width: 640px) {
    .details {  /* places image and info side by side */
        display: flex;
    }
    .details .detail-image {
        flex: .6;
    }

    .details .detail-info {
        flex: 1;
    }
    .details .add-wares {  /* Makes the button auto-sized */
        width: auto;
    }

    
}